<h1>Dashboard</h1>
<a href="/logout"> Logout </a>
<div>
    <h2>Your Posts</h2>
    {{#if posts.length}}
        {{#each posts}}
          <h3><a href="/posts/{{this.id}}">{{this.title}}</a></h3>
        {{/each}}
    {{else}}
     <p>No posts yet feel free to add one!</p>
     {{/if}}
</div>
<h2>Add New Post</h2>
<form action="/posts/create" method="POST">
<input type="text" name="title" placeholder="Title" required>
<textarea name="content" placeholder="Content" required></textarea>
<button type="submit">Post</button>
</form>